%section#lecturers
  .page-header
    %h1
      Lecturers
  .row
    .span4
      %p
        Here you can manage lecturers
      %a.btn.pull-left.btn-primary{:href => new_lecturer_path}
        %i.icon-user
        Add a lecturer
    .span8
      =render 'tables/table_admin_lecturers'
%section#students
  .page-header
    %h1
      Students
  .row
    .span4
      %p
        Here you can manage students
      %a.btn.pull-left.btn-primary{:href => new_student_path}
        %i.icon-user
        Add a student
    .span8
      =render 'tables/table_admin_students'
%section#courses
  .page-header
    %h1
      Courses
  .row
    .span4
      %p
        Here you can manage courses
      %a.btn.pull-left.btn-primary{:href => new_course_path}
        %i.icon-user
        Add a course
    .span8
      - if @courses.empty?
        No courses
      - else
        =render 'tables/table_admin_courses'