%table.table.table-bordered
  %tr
    %th
      My comments
    %td= @submission.student_comment

  %tr
    %th
      Auto grade
    %td= @submission.auto_grade

  %tr
    %th
      Final grade
    %td= @submission.lecturer_grade

  %tr
    %th
      Lecturer comments
    %td= @submission.lecturer_comment


