%h1 All exercise submissions
%table.table
  %thead
    %tr
      %th Date
      %th Student
      %th
  %tbody
    -@exercise.exercise_submissions.each do |submission|
      %tr
        %td=submission.exercise_submission_datetime
        %td=submission.student.user_name
        %td=link_to "Link", exercise_submission_path(submission.id)
