%h1 All exercise submissions
%table.table
  %thead
    %tr
      %th Date
    %tr
      %th Student
  %tbody
    -@exercise.exercise_submissions.each do |submission|
      %tr
        %td=submission.exercise_submission_datetime
      %tr
        %td=submission.student.user_name