%form.form-horizontal.new_exercise#new_exercise{action:"/exercises", method:"post",:enctype=>"multipart/form-data"}

  %input#exercise_course_id{type:"hidden",name:"exercise[course_id]",value:"#{@course.id}"}

  %fieldset
    -# Title
    .control-group
      %label.control-label{:for => "exercise_title"} Title
      .controls
        %input#exercise_title.input-xlarge{:type => "text", name:"exercise[title]"}

    -# Description
    .control-group
      %label.control-label{:for => "exercise_description"} Description
      .controls
        %textarea#exercise_description.input-xlarge{:rows =>10,name:"exercise[description]"}

    -# Due date
    .control-group
      %label.control-label{:for => "exercise_due_date"} Due date
      .controls
        %input#exercise_due_date#datepicker{type:"text", name:"exercise[due_date]"}

    -# Exercise path
    .control-group
      %label.control-label{:for => "exercise_exercise_path"} Exercise file
      .controls
        %input#exercise_exercise_path{type:"file", name:"exercise[exercise_path]"}

    -# Script  path
    .control-group
      %label.control-label{:for => "exercise_script_path"} Script file
      .controls
        %input#exercise_script_path{type:"file", name:"exercise[script_path]"}

    -#Create button
    .form-actions
      %input.btn.btn-primary{type: "submit", name:"commit", value:"Create"}



