%header.navbar.navbar-fixed-top
  .navbar-inner
    .container
      = link_to "Submission system", root_path, class: "brand"
      .nav-collapse
        -if signed_in?
          =render 'layouts/nav_user_links'
        =render 'layouts/nav_right'

