%ul.nav
  %li
    = link_to "Lecturers", admin_path(current_user)+'#lecturers'
  %li
    = link_to "Students", admin_path(current_user)+'#students'
  %li
    = link_to "Courses", admin_path(current_user)+'#courses'